<div class="ekb-block clearfix">
    <div class="ekb-blockheader">
        <h3 class="t">Что я хочу</h3>
    </div>
    <div class="ekb-blockcontent">
        <p><a href="http://www.amazon.com">Книги на Amazon.com</a></p>
        <p><a href="http://www.wishlisting.com">Всегда кое-что еще</a></p>
    </div>
</div>

<div class="ekb-block clearfix">
    <div class="ekb-blockheader">
        <h3 class="t">Мой профиль</h3>
    </div>
    <div class="ekb-blockcontent">
        <p>
            &nbsp;<a href="" target="_self" class="ekb-linkedin-tag-icon"></a>&nbsp;&nbsp;
            <a href="" target="_self" class="ekb-youtube-tag-icon"></a>&nbsp;
        </p>
    </div>
</div>